@import url('https://fonts.googleapis.com/css?family=Roboto');

.application {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.length-converter {
  width: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 5px 5px 6px #000000;
}

.length-converter > form {
  flex: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 96%;
}

.length-converter > form > input {
  background-color: rgba(255, 555, 255, 0.78);
  border-color: rgba(255, 555, 255, 0.9);
  font-family: 'Roboto', sans-serif;
  height: 40px;
  font-size: 30px;
  width: 393px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.length-converter > form > input:focus {
  outline-color: rgb(0, 255, 76);
}
