@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  caret-color: rgb(255, 0, 178);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(29, 43, 38);
  /*background-image: url('../../images/618378-water-drops-green-background_background-images.jpg');*/
  /*background-position: center;*/
}
